:root {
  --purple: hsl(248, 53%, 58%);
  --bright: #fffffe;
  --dark: hsl(0, 0%, 14%);
  --lite-dark: hsl(0, 0%, 17.5%);
  --dngr-red: #dc143c;
  --ok-green: #00a550;
  --navbar-gap: 0.42em;

  --prime-ff: "Roboto", sans-serif;
  --sec-ff: "Amatic SC", cursive;
  font-size: 16px;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid lime; */
}

body {
  color: var(--bright);
  background: var(--purple);
  font-family: var(--prime-ff);
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--dark);
    background-color: var(--bright);
  }
}
