.side-menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 70%;
  height: 100%;
  background: var(--lite-dark);
  padding: 0.5em;
  padding-left: 0;
  transition: transform 0.25s ease-out;
  z-index: 4;
}

.hide {
  transform: translateX(-100%);
}

.side-menu.hide {
  box-shadow: none;
}

.side-menu.hide :is(a, button, footer) {
  visibility: hidden;
}

.side-menu a:has(i) {
  padding: var(--navbar-gap) calc(1.5 * var(--navbar-gap));
}

.side-menu :is(a, button):not(:has(i)) {
  width: 100%;
  text-decoration: none;
  background: transparent;
  color: inherit;
  display: flex;
  align-items: center;
  gap: calc(1.75 * var(--navbar-gap));
  font-size: 1.5em;
  font-family: var(--sec-ff);
  padding: var(--navbar-gap) calc(1.5 * var(--navbar-gap));
  border-radius: 0 3.5em 3.5em 0;
  border: 2px solid transparent;
  transition: all 0.15s ease-out;
  outline: none;
}

.side-menu :is(button) {
  cursor: pointer;
}

.side-menu :is(a, button):not(:has(i)):active {
  background: hsla(248, 53%, 58%, 0.4);
}

.side-menu :is(a, button):not(:has(i)):hover {
  background: hsla(0, 0%, 100%, 0.1);
}

.side-menu
  :is(a, button):not(:has(i)):is(:active, :hover, :focus)
  :is(svg, span) {
  opacity: 1;
}

.side-menu :is(a, button):not(:has(i)):is(:focus) {
  border-color: hsla(0, 0%, 100%, 0.6);
}

.side-menu :is(a, button):not(:has(i)) svg {
  opacity: 0.6;
  margin: calc(0.4 * var(--navbar-gap));
  transition: opacity 0.15s linear;
}

.side-menu :is(a, button):not(:has(i)) span {
  transition: opacity 0.175s linear;
  opacity: 0.9;
  user-select: none;
  pointer-events: none;
}

.side-menu footer {
  position: fixed;
  padding: 0.2em 0.5em;
  left: 0;
  bottom: 0;
  font-size: 0.7em;
  pointer-events: none;
  transition: all 0.125s linear;
  display: flex;
  align-items: center;
  gap: var(--navbar-gap);
}

.side-menu footer svg {
  font-size: 1.5em;
  color: #f91880;
}

.side-menu footer a[href="https://github.com/purrrplelipton"]
{
  all: unset;
  text-decoration: solid line-through;
  color: inherit;
  pointer-events: initial;
}

.side-menu footer a[href="https://github.com/purrrplelipton"]:hover
{
  text-decoration: solid underline;
}

.side-menu footer a[href="https://github.com/purrrplelipton"]:is(:focus)
{
  outline: 1px solid var(--bright);
  outline-offset: -1px;
}

@media (prefers-color-scheme: light) {
  .side-menu {
    background: var(--purple);
  }
  .side-menu :is(a, button):not(:has(i)):active {
    background: hsla(0, 0%, 100%, 0.4);
  }

  .side-menu :is(a, button):not(:has(i)):hover {
    background: hsla(0, 0%, 0%, 0.1);
  }

  .side-menu :is(a, button):not(:has(i)):is(:focus) {
    border-color: hsla(0, 0%, 0%, 0.4);
  }
}

@media (min-width: 40em) {
  .side-menu {
    position: static;
    width: 20em;
    background: none;
  }

  .side-menu a:has(i) {
    display: none;
  }

  .hide {
    transform: translateX(0);
  }

  .side-menu.hide :is(a, button, footer) {
    visibility: visible !important;
  }

  .side-menu button[aria-label="notes settings"] {
    display: none;
  }
}
