.toolbar {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4em 0.6em;
  background: var(--lite-dark);
}

.toolbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: var(--navbar-gap);
}

.toolbar ul li label {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border-radius: 8px;
  padding: 1px 2px;
  margin: 0 5em;
  border: 2px solid transparent;
  transition: border-color 0.14s ease;
}

.toolbar ul li label input {
  all: unset;
  padding: 0.3em;
  height: 100%;
}

.toolbar ul li label input::placeholder {
  color: inherit;
  opacity: 0.75;
}

.toolbar ul li label:has(input:is(:focus)) {
  border-color: aqua;
}

.toolbar ul li label button {
  all: unset;
  font-size: 0.8em;
  padding: 0.5em;
  border-radius: 50%;
  border: 1px solid transparent;
  aspect-ratio: 1 / 1;
  display: grid;
  place-items: center;
  transition: all 0.15s ease;
}

.toolbar ul li button {
  all: unset;
  border: 2px solid transparent;
  width: 2.25em;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  transition: border-color 0.125s linear, background 0.15s ease-in-out;
  display: grid;
  place-items: center;
}

.toolbar ul li button svg {
  opacity: 0.6;
  transition: opacity 0.15s ease;
}

.toolbar ul li button:is(:hover, :active) {
  background: hsla(0, 0%, 100%, 0.2);
}

.toolbar ul li button:is(:hover, :active, :focus) svg {
  opacity: 1;
}

.toolbar ul li button:is(:focus) {
  border-color: aqua;
}

@media (prefers-color-scheme: light) {
  .toolbar {
    background: var(--purple);
  }

  .toolbar ul li button:is(:hover, :active) {
    background: hsla(0, 0%, 100%, 0.2);
  }
}

@media (max-width: 40em) {
  .toolbar {
    width: 96%;
    margin-inline: auto;
    border-radius: 100vmin;
    top: 0.5em;
  }

  .toolbar li:has(a) {
    display: none;
  }

  .toolbar ul li label {
    margin: 0;
  }

  .toolbar ul li label button {
    display: none;
  }
}
