@media (max-width: 40em) {
  .navigation-items li:has(label[for="search"]) {
    display: none;
  }

  .navigation-items li:has(button[aria-label="refresh notes"]) {
    display: none;
  }

  .navigation-items li:has(button[aria-label="notes settings"]) {
    display: none;
  }
}
